html, body {
    /*min-height: 30px;*/
    /*background-color: rgb(95, 8, 177);*/
    background-color: #8f9ed1;
}

div.container {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}

div.enunciado, div.formulario {
    width: 50%;
}

div.formulario {
    width: 50%;
    padding: 5px;
}

footer#rodape {
    position: absolute;
    width: 100%;
    height: 30px;	
    line-height: 30px;
    text-align: center;
    background-color: #6076be;
}

footer#rodape p {
    color: #fff;
}


 